html, body {
    margin: 0px;
    background-color: #255326;
    color: white;
}


.titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
}

.carta {
    position: relative;
    width: 120px;
    left: 90px;
    margin-left: -75px;
}

#computadora-cartas, #jugador-cartas {
    height: 220px;
}